*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Spartan;
}
.brighter:hover{
    color: hsl(213, 52%, 100%);
}

/* --- nav bar --- */
nav{
    position: relative;
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background:
    linear-gradient(
        20deg,
        hsl(243, 100%, 15%) 10%,
        hsl(243, 100%, 69%)
    );

    box-shadow: 0 0 1px 1px hsl(243, 100%, 15%, 100%);

}
nav ul{
    display: flex;
    position: relative;
    right: 4em;
    list-style: none;
}
nav a{
    font-size:xx-large;
    margin: 1em;
    text-decoration: none;
    color: hsl(213, 52%, 88%);
    /* color: #d4dfec; */
}
.hamburger, .hamburger>*{
    visibility: hidden;
}

/* --- content --- */
.container{
    height: fit-content;
    background:
    linear-gradient(
        45deg,
        hsl(213, 52%, 95%) 10%,
        hsl(213, 52%, 96%) 
        
    ); 
}

.content{
    min-height: 90vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: hsl(243, 100%, 25%);

}

.content img{
    max-height: 65vh;
    max-width: 75vw;
    margin: 2em;
}

/* --- Small Screen --- */

@media (max-width: 900px), (max-height: 375px){
    
    /* --- Hamburger --- */
    .hamburger, .hamburger>*{
        visibility: visible;
    }

    .hamburger{
        cursor: pointer;
        position: absolute;
        right: 3.5vh;
        top: 3.5vh;
        z-index: 2;

        background: none;
        height: 3vh;
        width: 5vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .line{
        background: hsl(213, 52%, 88%);

        height: 25%;
        width: 100%;

        border-radius: 100px;
        box-shadow: 0 0 1px 1px hsl(243, 100%, 25%);

        transition: background-color 0.25s;
    }

    .hamburger:hover > .line{
        background: hsl(213, 52%, 100%);
        box-shadow: 0 0 2px 1px hsl(243, 100%, 25%);
    }

    /* --- Nav --- */
    nav{
        display: block;
    }

    nav ul{
        position: fixed;
        height: 100vh;
        width: 100vw;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        background:
        linear-gradient(
            20deg,
            hsl(243, 100%, 15%) 10%,
            hsl(243, 100%, 69%)
        );

        clip-path: circle(0% at 93.5% 5% );
        -webkit-clip-path: circle(0% at 93.5% 5% );
        
        transition: clip-path 0.5s ease-in-out;

    }

    .open{
        clip-path: circle(150% at 93.5% 5% );

    }
    
    nav li{
        font-size: 2.5em;
    }

}